{
{% if logs is defined and logs|length %}
	"logs": {
		"logs_collected": {
			"files": {
				"collect_list": [
        {% for log in logs %}
          {
						"file_path": "{{ log.file }}",
            "log_group_name": "{{ log.group_name }}",
            "log_stream_name": "{instance_id}",
            "timestamp_format": "{{ log.format }}"
          }{% if not loop.last %},{% endif %}
        {% endfor %}
				]
			}
		}
	}
{% endif %}
}
