		"disk": {
			 "measurement": [
		     { "name": "used_percent", "rename": "DiskSpaceUtilization" },
         { "name": "inodes_used"  },
   		   { "name": "inodes_total" },
		     { "name": "inodes_free"  }
			 ],
       "ignore_file_system_types": [ "sysfs", "devtmpfs", "tmpfs" ],
       "metrics_collection_interval": {{ custom_metrics['disk']['interval'] }},
			 "resources": [ "*" ]
		},
