		"net": {
       "measurement": [
       		{"name": "err_out"},
       		{"name": "err_in"},
       		{"name": "drop_out"},
       		{"name": "drop_in"},
       		{"name": "packets_recv"},
       		{"name": "packets_sent"}
       ],
       "metrics_collection_interval": {{ custom_metrics['net']['interval'] }},
       "resources": [ "*" ]
    },
